* {
  font-family: "Roboto", sans-serif;
}
header {
  position: relative;
}
nav {
  height: 53px;
  background: #212121;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 14px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 2px dotted #1eacc7;
  padding-right: 46px;
}
.menu .menu_item:last-child {
  border: none;
}
.subheader {
  height: 87px;
  background: rgba(0, 0, 0, 0.608);
  position: absolute;
  width: 100%;
  margin-top: 53px;
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 21px;
}
header .subheader .subheader_official {
  font-weight: 100;
  font-size: 13px;
  align-items: center;
  color: rgba(255, 255, 255, 0.725);
  /* margin-top: 4px; */
}
header .subheader .subheader_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
  margin-top: 21px;
}
header .subheader .subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
header .subheader .subheader_btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin-top: 21px;
}
.promo {
  min-height: 800px;
  background: url(../img/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 150px 0;
}
.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 55px;
}
.promo .promo_subheader {
  line-height: 1;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 14px;
}
.promo .promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.promo .promo_btn {
  display: block;
  margin: 115px auto 180px auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.reasons {
  min-height: 850px;
}
.reasons .label {
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 18px auto 0 auto;
  padding: 5px;
}
.reasons .tittle {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin: 33px 0 25px 0;
}
.reasons .reasons_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.reasons .reasons_item .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reasons .reasons_item .reasons_descr {
  width: 371px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
.reasons .reasons_item .reasons_descr span {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}